# Disable the deprecated use of "args.add" to align with settings inside Google.
build --incompatible_disallow_old_style_args_add

# By default, failing tests don't print any output, it goes to the log file
test --test_output=errors
